[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "*"
joblib = "*"
scikit-learn = "*"
xgboost = "*"
sqlmodel = "*"
sqlalchemy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
